@using EncycloData.Models;
@model Animal;
<div class="custom-right-side">
    <h3>Animal Details</h3>

    <div class="input_div">
        <div class="input_text _input">
            <dt>Title</dt>
            <dd>@Model.Title</dd>
            <i class="fa fa-credit-card"></i>
        </div>
        <div class="cvv_month">
            <div class="input_text ">
                <h5>Description</h5>
                <label>@Model.Description</label>

            </div>
            <div class="input_text ">
                <h6>Family</h6>
              
                    <label>@Model.AnimalClass</label>

            </div>
        </div>
    </div>
    <div class="input_text">   </div>
    <div class="billing">
        <div class="input_text">
            <h6>Discovered by</h6>
            <label>@Model.DiscoveredBy</label>
        </div>
        <div class="zip_state">
            <h6>Discovered in</h6>
            @if (Model.YearDiscovered.Year < 0)
            {
                <label>@Math.Abs(Model.YearDiscovered.Year) BC</label>
            }
            <label>@Model.YearDiscovered.Year</label>
        </div>

    </div>
    <div class="input_text">   </div>
    <div class="bill_content">
        <div class="bill_content_text">
           <h6>Location of animal</h6>

                <label>@Model.Location</label
        </div>
        <div class="bill_content_text">
          
        </div>
        <div class="bill_content_text total">
        </div>
    </div>
    <div class="pay">

        <div class="payemnts">
        </div>
        <div class="powered">

            </p>
        </div>
    </div>
</div>