@using EncycloData.Models;
@model Animal;

    <div class="input_text">    
        <div class="input_text ">
                <h6>Family</h6>
              
                    <label>@Model.AnimalClass</label>

            </div> 
            <h6>Class</h6>
          <label>@Model.AnimalSubClass</label>        
        </div>
    <div class="billing">
        <div class="input_text">
            <h6>Discovered by</h6>
            <label>@Model.DiscoveredBy</label>
        </div>
        <div class="zip_state">
            <h6>Discovered in</h6>
        @if (Model.YearDiscovered.Year < 0)
            {
            <label>@Math.Abs(Model.YearDiscovered.Year) BC</label>
            }
        else
        {
            <label>@Model.YearDiscovered.Year</label>
        }
             
        </div>

    </div>
    <div class="bill_content">
        <div class="bill_content_text">
           <h6>Location of animal</h6>

                <label>@Model.Location</label>
                <h6>Animal food</h6>
                <label>@Model.Food.Name</label>
        <h6>Is animal wild</h6>
                @if (Model.IsWild)
        {
            <label>Animal is found in the wild</label>
        }
        else
        {
            <label>Animal is not found in the wild</label>
        }
        </div>
    
        </div>
