@using EncycloBook.ViewModels.PostModels;
@model DeadlyBacteriaSafeBacteriaViewModel;



@if (Model.DeadlyBacteria == null)
{
    <div class="input_text">
    <div class="input_text ">
        <h6>Family</h6>

        <label>@Model.Bacteria.BacteriaFamily</label>

    </div>
 
</div>
<div class="billing">
    <div class="input_text">
        <h6>Discovered by</h6>
        <label>@Model.Bacteria.DiscoveredBy</label>
    </div>
    <div class="zip_state">
        <h6>Discovered in</h6>
            @if (Model.Bacteria.YearDiscovered < 0)
        {
                <label>@Math.Abs(Model.Bacteria.YearDiscovered) BC</label>
        }
            else
            {
                <label>@Model.Bacteria.YearDiscovered</label>
            }
    </div>

        <div class="input_text">
           
                    <h6 class="safe">Safe</h6>
                    <label class="safe">This bacteria is not parasitic and it won't cause damage to you.</label>

        </div>
</div>
}
 else
{
    <div class="input_text">
        <div class="input_text ">
            <h6>Family</h6>

            <label>@Model.DeadlyBacteria.BacteriaFamily</label>

        </div>

    </div>
    <div class="billing">
        <div class="input_text">
            <h6>Discovered by</h6>
            <label>@Model.DeadlyBacteria.DiscoveredBy</label>
        </div>
        <div class="zip_state">
            <h6>Discovered in</h6>
            @if (Model.DeadlyBacteria.YearDiscovered < 0)
            {
                <label>@Math.Abs(Model.DeadlyBacteria.YearDiscovered) BC</label>
            }
            else
            {
                <label>@Model.DeadlyBacteria.YearDiscovered</label>

            }
          
        </div>

        <div class="input_text">

            <h6 class="danger">WARNING!</h6>
            <label class="danger">This bacteria is parasitic and will cause damage to your body!</label>
            @Html.Partial("_DeadlyBacteriaPartial.cshtml", Model.DeadlyBacteria)

        </div>
    </div>
}
 
 