@using EncycloBook.ViewModels.PostModels;
@model ParFungusSafeFungus;


@if (Model.ParasiticFungus == null)
{
<div class="input_text">
    <div class="input_text ">
        <h6>Family</h6>

        <label>@Model.Fungus.FungusClass</label>

    </div>
    <div class="bill_content_text">
        <h6>Fungus color</h6>

            <label>@Model.Fungus.Color</label>
    </div>
    <div class="bill_content_text">
        <h6>Gills type</h6>
            <label>@Model.Fungus.GillsType</label>
    </div>
</div>
<div class="billing">
    <div class="input_text">
        <h6>Discovered by</h6>
            <label>@Model.Fungus.DiscoveredBy</label>
    </div>
    <div class="zip_state">
        <h6>Discovered in</h6>
            @if (Model.Fungus.YearDiscovered < 0)
        {
                <label>@Math.Abs(Model.Fungus.YearDiscovered) BC</label>
        }
            else
            {
                <label>@Model.Fungus.YearDiscovered</label>
            }
    </div>

</div>
<div class="input_text">
        @switch (Model.Fungus.IsPoisonous)
    {case true:
            <h6 class="danger">WARNING!</h6>
            <label class="danger">This fungus is poisonous and can cause damage to your body!</label>
            break;
        default:
            <h6 class="safe">Safe</h6>
            <label class="safe">This fungus is safe to eat and it won't cause damage to you.</label>
            break;
    }
</div>
<div class="bill_content">
    <div class="bill_content_text">
        <h6>Location of fungus</h6>

            <label>@Model.Fungus.Location</label>
    </div>

</div>
}
else
{
    <div class="input_text">
        <div class="input_text ">
            <h6>Family</h6>

            <label>@Model.ParasiticFungus.FungusClass</label>

        </div>
        <div class="bill_content_text">
            <h6>Fungus color</h6>

            <label>@Model.ParasiticFungus.Color</label>
        </div>
        <div class="bill_content_text">
            <h6>Gills type</h6>
            <label>@Model.ParasiticFungus.GillsType</label>
        </div>
    </div>
    <div class="billing">
        <div class="input_text">
            <h6>Discovered by</h6>
            <label>@Model.ParasiticFungus.DiscoveredBy</label>
        </div>
        <div class="zip_state">
            <h6>Discovered in</h6>
            @if (Model.ParasiticFungus.YearDiscovered < 0)
            {
                <label>@Math.Abs(Model.ParasiticFungus.YearDiscovered) BC</label>
            }
            else
            {
                <label>@Model.ParasiticFungus.YearDiscovered</label>
            }
        </div>

    </div>
    <div class="input_text">
     
            
                <h6 class="danger">WARNING!</h6>
                <label class="danger">This fungus is parasitic and will cause damage to your body!</label>
              
 
    </div>
    @Html.Partial("_ParasiticFungusPartial.cshtml", Model.ParasiticFungus)
    <div class="bill_content"> 
        <div class="bill_content_text">
            <h6>Location of fungus</h6>

            <label>@Model.ParasiticFungus.Location</label>
        </div>

    </div>
}
 