@using EncycloBook.ViewModels.PostModels;
@model VirusWithSymptomsViewModel;

<div class="input_text">
    <div class="input_text ">
        <h6>Family</h6>

        <label>@Model.Virus.VirusFamily</label>

    </div>

</div>
<div class="billing">
    <div class="input_text">
        <h6>Discovered by</h6>
        <label>@Model.Virus.DiscoveredBy</label>
    </div>
    <div class="zip_state">
        <h6>Discovered in</h6>
        @if (Model.Virus.YearDiscovered < 0)
        {
            <label>@Math.Abs(Model.Virus.YearDiscovered) BC</label>
        }
        else
        {
            <label>@Model.Virus.YearDiscovered</label>
        }
    </div>

</div>
<div class="input_text">
    <div class="input_text ">
        <h6>Symptoms</h6>

        <label>@Model.Virus.Symptom.Name</label>
        @if (Model.Virus.Symptom.IsLifeThreatening)
        {
            <label>This symptom is life threatening!</label>
        }
        else
        {
            <label>This symptom is not life threatening!</label>
        }

    </div>
    <div class="input_text ">
        <h6>Host</h6>

        <label>@Model.Virus.VirusHost</label>
 
    </div>

</div>

