@using EncycloBookServices.Models;

@model AnimalWithFoodViewModel;
<style>

    .post-view {
        background-color: #f7f7f7;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        max-width: 1000em;
        margin: 0 auto;
        margin-top: 10em;
    }

    .top-heading {
        font-size: 24px;
        margin-bottom: 20px;
        text-align: center;
    }

    .form-control {
        margin-bottom: 10px;
    }

    .width-control {
        max-width: 50%
    }


    label {
        font-weight: bold;
    }

    textarea {
        height: 120px;
    }

    .poer-cs {
        margin-left: 3em;
    }

    .poer-cs1 {
        margin-left: 1.9em;
    }

    .poer-cs2 {
        margin-left: 6em;
    }
</style>

<div class="post-view">
    <h1 class="top-heading">Edit an Animal</h1>
    <form method="post" class="centr">

        <div class="row">
            <div class="">
                <label class="poer-cs" for="inputEmail4">Animal Name</label>
                <input class="form-control" id="inputEmail4" asp-for="@Model.Animal.Title" placeholder="Animal Name">
                <input class="form-control" id="inputEmail4" style="display:none" asp-for="@Model.Animal.Id" placeholder="Animal Name">
               

                <label for="inputPassword4">Animal Country of origin</label>
                <input class="form-control" id="inputPassword4" asp-for="@Model.Animal.Location" placeholder="Animal Country">
                <label class="poer-cs1" for="inputPassword4">Animal Image link</label>
                <input asp-for="@Model.Animal.ImgURL" placeholder="Image URL">
            </div>
        </div>
        <div class="">
            <label class="poer-cs" for="inputPassword4">Animal Class</label>
            <select name="class" id="class" class="custom-select selcenter  my-1 mr-sm-2 form-control-lg">
                <option selected>Select...</option>
                <option value="Mammal">Mammal</option>
                <option value="Reptile">Reptile</option>
                <option value="Amphibian">Amphibian</option>
                <option value="Fish">Fish</option>
                <option value="Bird">Bird</option>
                <option value="Invertabrate">Invertabrate</option>
            </select>
            <label class="poer-cs" for="inputPassword4">Animal Family</label>
            <input class="form-control width-control" asp-for="@Model.Animal.AnimalClass" placeholder="Animal Family">

            <label class="poer-cs" for="inputPassword4">Discovered by</label>
            <input class="form-control" asp-for="@Model.Animal.DiscoveredBy" placeholder="Name">


        </div>
        <div class="form-group">
            <label for="year">Year discovered</label>
            <input class="form-control" type="number" id="year" asp-for="@Model.Animal.YearDiscovered.Year" min="-1000" max="2023" placeholder="Year">
        </div>
        <div>
            <label class="poer-cs2" for="inputPassword4 ">Animal Description</label>
            <textarea class="form-control width-control" asp-for="@Model.Animal.Description" placeholder="Animal Description"></textarea>
        </div>
        <label class="poer-cs" for="inputPassword4">Animal Class</label>
        <select name="food" id="food" class="custom-select selcenter  my-1 mr-sm-2 form-control-lg">
            <option selected>Select...</option>
            @foreach (var item in Model.Foods)
            {
                <option selected value="@item.Name">@item.Name</option>
            }
        </select>
        <label class="poer-cs" for="inputPassword4">Is the animal wild?</label>
        <select name="wild" id="wild" class="custom-select selcenter  my-1 mr-sm-2 form-control-lg">
            <option selected>Select...</option>
            <option selected value="True">Yes</option>
            <option selected value="False">No</option>

        </select>

        <button type="submit" class="btn btn-primary">Edit!</button>
        <p style="font:italic">if you select "Select..." on any of the drop down menus, it will automatically set to the first value</p>
    </form>
</div>
