@using EncycloBookServices.Models;
@using EncycloData.Models;
@using EncycloData;
@using Microsoft.AspNetCore.Identity;
@inject SignInManager<ApplicationUser> SignInManager
@model Post;
@{
    var type = Model.GetType().ToString();
    type = type.Remove(0, 19);
    Animal a = new Animal();
    Plant p = new Plant();
    ParFungusSafeFungus FunViewModel = new ParFungusSafeFungus();
    DeadlyBacteriaSafeBacteriaViewModel BacViewModel = new DeadlyBacteriaSafeBacteriaViewModel();
    Virus v = new Virus();
    switch (type)
    {
        case "Animal":
            a = (Animal)Model;
            break;
        case "Plant":
            p = (Plant)Model;
            break;
        case "Fungus":
            FunViewModel.Fungus = (Fungus)Model;
            break;
        case "ParasiticFungus":
            FunViewModel.ParasiticFungus = (ParasiticFungus)Model;
            break;
        case "DeadlyBacteria":
            BacViewModel.DeadlyBacteria = (DeadlyBacteria)Model;
            break;
        case "Bacteria":
            BacViewModel.Bacteria = (Bacteria)Model;
            break;
        case "Virus":
            v = (Virus)Model;
            break;
        default:
            throw new ArgumentException("Type cannot be null!");

    }

    var curdate = DateTime.Now;
    string message = "";
}
 <style>.custom-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

    .custom-card {
        background-color: #fff;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        border-radius: 8px;
        padding: 20px;
        max-width: 140%;
        width: 130%;
        margin-top: 20%;
    }

.custom-form {
  display: flex;
  gap: 20px;
}

    .custom-left-side {
        flex: 0.7;
    }

.custom-left-top {
  background-color: #3d5af1;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  border-radius: 8px;
}

.custom-left-top h4 {
  margin: 0;
}

.custom-left-top p {
  margin: 0;
  font-size: 16px;
  font-weight: bold;
}

.custom-carousel {
  margin-top: 20px;
}

.custom-carousel img {
  border-radius: 4px;
}

    .custom-right-side {
        flex: 2;
    }

.custom-right-side h3 {
  margin: 0;
  font-size: 24px;
}

.custom-right-side h5 {
  font-size: 16px;
  margin-bottom: 20px;
}

.custom-input_text {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.custom-input_text input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.custom-input_text span {
  margin-top: 5px;
  font-size: 14px;
  color: #888;
}

.custom-pay button {
  background-color: #3d5af1;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
}

.custom-pay button:hover {
  background-color: #2a42c8;
}

.custom-payemnts {
  display: flex;
  align-items: center;
  margin-top: 10px;
  font-size: 14px;
  color: #888;
}

.custom-payemnts i {
  margin-right: 5px;
}

.custom-powered {
  display: flex;
  align-items: center;
  margin-top: 20px;
  font-size: 14px;
  color: #888;
}

.custom-powered img {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.custom-powered a {
  color: #3d5af1;
  text-decoration: none;
}

/* Additional styles for the carousel indicators */
.custom-carousel-indicators {
  position: relative;
  bottom: 15px;
}

.custom-carousel-indicators button {
  background-color: rgba(0, 0, 0, 0.3);
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin: 0 5px;
  border: none;
  padding: 0;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.custom-carousel-indicators button.active {
  background-color: rgba(0, 0, 0, 0.7);
}

/* Media query for responsive design */
@@media screen and (max-width: 600px) {
  .custom-form {
    flex-direction: column;
  }

  .custom-left-side,
  .custom-right-side {
    width: 100%;
  }
}</style>



<div class="custom-container">
    <div class="custom-card">
        <div class="custom-form">
            <div class="custom-left-side">
                <div class="custom-left-top">

                    <h4>@Model.Title</h4>
                    <p>Posted by @Model.Publisher.UserName</p>
                </div>
                <div id="carouselExampleIndicators" class="custom-carousel slide" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                    </div>
                    <div class="carousel-inner">
                        <img src="@Model.ImgURL" class="d-block w-100" alt="...">
                    </div>
                   
                </div>
                <div class="oriton_img">
                    <label>Posted at @Model.PublishedOn</label>
                    <h5>Likes: @Model.Likes.Count</h5>
                 
                 <form asp-controller="Post" asp-action="Like" method="post">
    <input type="hidden" name="itemId" value="@Model.Id" />
                        <input type="hidden" name="type" value="@Model.GetType().ToString().Remove(0, 19)" />
                        <input type="hidden" name="ViewD" value="ViewDetails" />
    <button type="submit" class="btn btn-primary" id="like">
                        <svg xmlns="http://www.w3.org/2000/svg" version="1.0" width="32" height="32" viewBox="0 0 200.000000 200.000000" preserveAspectRatio="xMidYMid meet">

                            <metadata>
                                Created by potrace 1.10, written by Peter Selinger 2001-2011
                            </metadata>
                            <g transform="translate(0.000000,200.000000) scale(0.100000,-0.100000)" fill="#000000" stroke="none">
                                <path d="M1000 1563 c0 -121 -18 -207 -62 -301 -35 -75 -111 -168 -173 -213 l-45 -32 0 -308 0 -307 64 -36 63 -35 322 0 c371 -1 379 1 411 71 11 24 20 59 20 78 0 28 7 41 34 62 39 32 51 74 35 132 -10 36 -9 42 7 51 65 37 80 89 45 154 -18 34 -18 35 5 82 34 67 32 104 -10 144 -54 50 -105 60 -323 60 -119 0 -194 4 -197 10 -2 6 3 46 11 90 28 156 4 306 -58 361 -28 25 -80 44 -120 44 l-29 0 0 -107z m55 57 c-4 -7 3 -8 21 -4 17 5 25 3 21 -3 -4 -6 1 -10 11 -9 11 1 16 -5 14 -16 -2 -13 2 -16 14 -11 14 5 15 3 4 -17 -10 -18 -9 -21 1 -15 9 6 10 3 5 -10 -5 -14 -4 -16 7 -6 12 9 15 4 21 -26 9 -59 7 -159 -6 -248 -11 -80 -11 -82 13 -106 17 -17 35 -24 61 -24 20 0 34 3 32 6 -4 7 143 1 164 -6 8 -3 10 0 6 6 -5 9 7 9 42 4 27 -5 60 -9 74 -10 50 -3 107 -25 131 -52 13 -14 19 -23 12 -19 -8 4 -10 -2 -7 -21 3 -14 7 -30 10 -34 2 -4 -1 -9 -7 -11 -7 -2 -12 -18 -13 -35 0 -17 -4 -29 -8 -26 -5 2 -8 -5 -8 -17 0 -12 4 -19 9 -16 5 4 7 -4 3 -16 -3 -14 -2 -19 6 -14 7 4 13 2 13 -3 6 -46 2 -74 -11 -84 -13 -11 -13 -10 0 8 14 19 14 19 -2 6 -10 -7 -18 -19 -18 -26 0 -7 -8 -19 -17 -26 -15 -12 -16 -12 -10 5 6 15 5 17 -6 8 -14 -12 -15 -36 -2 -109 5 -28 4 -43 -3 -43 -6 0 -14 -9 -17 -21 -4 -12 -16 -30 -26 -40 -10 -10 -19 -27 -19 -37 0 -9 -11 -38 -23 -63 -19 -37 -20 -46 -8 -41 9 3 13 2 10 -2 -4 -4 -17 -10 -30 -13 -25 -7 -642 -21 -659 -15 -6 2 -7 9 -4 14 5 7 2 8 -5 3 -15 -8 -78 23 -85 42 -4 10 -9 422 -6 557 0 16 2 17 16 5 15 -12 16 -11 10 9 -5 16 -3 24 9 28 10 4 14 13 10 22 -3 9 -3 13 1 9 4 -4 14 -1 23 6 14 11 15 10 1 -8 -8 -11 0 -7 18 9 34 32 43 47 15 25 -10 -7 -6 0 9 14 15 15 33 26 39 25 6 -2 14 4 16 12 4 13 3 13 -6 0 -13 -19 -14 0 -1 20 9 13 11 13 21 0 9 -12 10 -12 5 4 -4 10 -1 26 6 34 10 12 10 14 1 8 -9 -5 -11 -2 -7 8 3 9 10 16 14 16 4 0 13 15 20 33 7 17 16 41 21 52 27 61 54 295 34 295 -5 0 -3 5 5 10 19 13 23 12 15 0z" />
                                <path d="M272 1044 c-22 -15 -22 -16 -22 -344 0 -285 2 -331 16 -344 23 -24 375 -24 398 0 14 13 16 59 16 343 0 305 -1 329 -18 344 -27 24 -356 25 -390 1z m357 -38 c18 -21 21 -625 4 -619 -7 3 -13 0 -13 -6 0 -17 -304 -15 -318 2 -7 8 -12 116 -14 309 -3 254 -1 295 11 285 12 -10 12 -9 3 10 -9 16 -9 23 1 26 6 3 80 6 163 6 119 1 154 -2 163 -13z" />
                                <path d="M373 383 c37 -2 96 -2 130 0 34 2 4 3 -68 3 -72 0 -99 -1 -62 -3z" />
                            </g>
                        </svg>

                    </button>
                    </form>
                    <h5>Comments: @Model.Comments.Count</h5>
                </div>
                <div class="left_text">


            <h5>Go back</h5>
                       <a class="btn btn-primary btn-ou"href="/Post/ViewAll">Back</a>             
                      
                </div>
            </div>
            <div class="custom-right-side">
                <h3>@type.ToString() Details</h3>
               
                <div class="input_div">
                    <div class="input_text _input">
                        <dt>Title</dt>
                        <dd>@Model.Title</dd>
                        <i class="fa fa-credit-card"></i>
                    </div>
                    <div class="cvv_month">
                        <div class="input_text ">
                            <h5>Description</h5>
                            <label>@Model.Description</label>
                         
                        </div>
                      
                    </div>
                   @switch (type)
                    {
                    case "Animal":
                            @Html.Partial("_AnimalPartial", a)
                    break;
                    case "Plant":
                            @Html.Partial("_PlantPartial", p)
                    break;
                    case "Fungus":
                            @Html.Partial("_FungusPartial", FunViewModel)
                    break;
                        case "ParasiticFungus":
                            @Html.Partial("_FungusPartial", FunViewModel)
                            break;
                    case "DeadlyBacteria":
                            @Html.Partial("_BacteriaPartial", BacViewModel)
                    break;
                        case "Bacteria":
                            @Html.Partial("_BacteriaPartial", BacViewModel)
                            break;
                    case "Virus":
                            @Html.Partial("_VirusPartial", v)
                    break;
                    default:
                    throw new ArgumentException("Type cannot be null!");
                     
                    }
                    <div class="billing">
                        <div class="input_text">
                     
                            </div>
                            </div>
                </div>
                <div class="col-md-8">
                    <div class="page-header">
                    </div>

                    <form method="post"> 
                    <div class="comments-list">
                            <h4 class="media-heading user_name">Comments</h4>
                        @foreach (var item in Model.Comments)
                            {
                                <div class="media">
                                    <div class="media-body">
                                        <h3 class="media-heading user_name">@item.Publisher.UserName</h3>
                                        <p>@item.Content</p>
                                        <p class="pull-right"><small>@item.PublishedOn</small></p>
                                    </div>
                                </div>
                            }
                            <h1 id="userName" style="display:none">@User.Identity.Name</h1>
                            <h1 id="time" style="display:none">@curdate.ToString()</h1>

                            <input id="messageInput" name="content" placeholder="Your comment here" />
                            <button id="addcomment" asp-controller="Details" asp-action="AddComment" asp-route-postId="@Model.Id" asp-route-postType="@type" asp-route-username="@User.Identity.Name" asp-route-content="COMMENT_VALUE_HERE">Add comment</button>
                        </div>
                    </form>



                </div>
            </div>
        </div>
    </div>
</div> 
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/comment.js"></script>


