@using EncycloData.Models;

@model Plant
<style>

    .post-view {
        background-color: #f7f7f7;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        max-width: 1000em;
        margin: 0 auto;
        margin-top: 10em;
    }

    .top-heading {
        font-size: 24px;
        margin-bottom: 20px;
        text-align: center;
    }

    .form-control {
        margin-bottom: 10px;
    }

    .width-control {
        max-width: 50%
    }


    label {
        font-weight: bold;
    }

    textarea {
        height: 120px;
    }

    .poer-cs {
        margin-left: 4em;
    }

    .poer-cs1 {
        margin-left: 1.9em;
    }

    .poer-cs2 {
        margin-left: 6em;
    }

    .post-view .row {
        margin-bottom: 15px;
    }

    .maxdc {
        min-width: 80%;
    }
        .post-view .row .form-group {
            margin-bottom: 0;
        }

    .width-plt {
        min-width: 120%;
    }

    .width-plt-r {
        min-width: 90%;
    }

    .poer-cs2-p {
        margin-left: 4em;
    }

    .plt-bt-m {
        min-width: 8em;
    }

    .plt-div-m {
        margin-left: 22em;
    }
</style>

<div class="post-view">
    <h1 class="top-heading">Post a Plant</h1>
    <form method="post" class="centr-plt">
        <div class="row maxdc">
            <div class="col-md-6 width-plt-r">
                <div class="form-group">
                    <label class="poer-cs" for="inputEmail4">Plant Name</label>
                    <input class="form-control" id="inputEmail4" asp-for="@Model.Title" placeholder="Animal Name">
                </div>
                <div class="form-group">
                    <label class="poer-cs1" for="inputPassword4">Plant Country of Origin</label>
                    <input class="form-control" id="inputPassword4" asp-for="@Model.Location" placeholder="Animal Country">
                </div>
                <div class="form-group">
                    <label class="poer-cs1" for="inputPassword4">Plant Image link</label>
                    <input asp-for="@Model.ImgURL" placeholder="Image URL">
                </div>
                <div class="form-group">
                    <label class="poer-cs" for="inputPassword4">Plant Family</label>
                    <input class="form-control width-control-plt" asp-for="@Model.PlantClass" placeholder="Animal Family">
                </div>
            </div>
            <div class="col-md-6 width-plt">
                <div class="form-group">
                    <label class="poer-cs" for="color">Plant Color</label>
                    <select name="color" id="color" class="custom-select selcenter  my-1 mr-sm-2 form-control-lg">
                        <option selected>Select...</option>
                        <option value="Blue">Blue</option>
                        <option value="Green">Green</option>
                        <option value="White">White</option>
                        <option value="Purple">Purple</option>
                        <option value="Black">Black</option>
                        <option value="Red">Red</option>
                        <option value="Yellow">Yellow</option>
                        <option value="Gray">Gray</option>
                        <option value="Pink">Pink</option>
                        <option value="Cyan">Cyan</option>
                        <option value="Dark blue">Dark blue</option>
                        <option value="Dark green">Dark green</option>
                        <option value="Light green">Light green</option>
                        <option itemid="Different" value="Different">Different</option>
                    </select>
                    <input style="display:none" asp-for="@Model.Color" placeholder="Different color" id="colorInput">
                </div>
                <div class="form-group">
                    <label class="poer-cs" for="leaveType">Plant Leave Type</label>
                    <select name="leaveType" id="leaveType" class="custom-select selcenter  my-1 mr-sm-2 form-control-lg">
                        <option selected>Select...</option>
                        <option value="Simple">Simple</option>
                        <option value="Compound">Compound</option>
                        <option value="Acicular">Acicular</option>
                        <option value="Linear">Linear</option>
                        <option value="Lanceolate">Lanceolate</option>
                        <option value="Orbicular">Orbicular</option>
                        <option value="Elliptical">Elliptical</option>
                        <option value="Oblique">Oblique</option>
                        <option value="Centric">Centric</option>
                        <option value="Cordate">Cordate</option>
                    </select>
                    <input style="display:none" asp-for="@Model.LeaveType" placeholder="Different leave type" id="leaveTypeInput">
                </div>
                <div class="form-group">
                    <label class="poer-cs2-p" for="description">Plant Description</label>
                    <textarea class="form-control width-control-plt" asp-for="@Model.Description" placeholder="Animal Description"></textarea>
                </div>
            </div>
        </div>
        <div class="plt-div-m"> 
        <button type="submit" class="btn btn-primary plt-bt-m">Post!</button>
        </div>
    </form>
</div>
